
<div class="container">
	<h1 class="titulo-home">ONG S.O.S bicho</h1>
</div>

<br />

<div class="container">
	<div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <div class="thumbnail menu-bicho">
                <div class="caption">
                  <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Meus animais</a></li>
                    <li><a href="#">Cachorros</a></li>
                    <li><a href="#">Gatos</a></li>
                    <li><a href="#">Macacos</a></li>
                    <li><a href="#">Ratos</a></li>
                  </ul>
              </div>
          </div>
        </div>
		<div class="col-lg-9" >
			<div class="thumbnail">
				<div class="caption">
                    <div class="animal">
                        <img src="assets/cachorro-triste.jpg" />
                    </div>
					<h4>Nicolau</h4>
					<p>Este é um cachorro </p>
				</div>
			</div>

			<div class="thumbnail">
				<div class="caption">
                    <div class="animal">
                        <img src="assets/pug-cachorro-roubado.jpg" />
                    </div>
					<h4>Nicolau</h4>
					<p>Nicolau em cena novamente </p>
				</div>
			</div>

			<div class="thumbnail">
				<div class="caption">
                    <div class="animal">
                        <img src="assets/macaquinho.jpg" />
                    </div>
					<h4>Nicolau</h4>
					<p>Olha que voltou novamente </p>
				</div>
			</div>
		</div>
	</div>
</div>
