
<div class="container">
	<h1 class="titulo-home">ONG S.O.S bicho</h1>
	<a routerLink="animal" class="btn btn-primary pull-right" style="margin-top:-44px">Novo</a>
</div>

<br />

<div class="container">
	<div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <div class="thumbnail menu-bicho">
                <div class="caption">
                  <ul class="nav nav-sidebar">
				  	<li><a (click)="todosAnimais()">Todos os animais</a></li>
					<li><a (click)="meusAnimais()">Meus animais</a></li>
                    <li><a (click)="adocao()">Adoção</a></li>
                  </ul>
              </div>
          </div>
        </div>
		<div class="col-lg-9" >
			<div class="thumbnail thumb-animal" *ngFor="let item of itens | animais:filtro">
				<div class="caption">
                    <div class="animal">
                        <img src="{{item.value.foto}}" />
                    </div>
					<h4>{{item.value.nome}}</h4>
					<p>{{item.value.descricao}}</p>
				</div>
				<div class="m">
					<a class="glyphicon glyphicon-ok" (click)="adotado(item)" *ngIf="usuario == item.value.dono"></a>
					<a class="glyphicon glyphicon-pushpin" (click)="interesse(item)" *ngIf="usuario != item.value.dono && !item.interesse"></a>
					<a class="glyphicon glyphicon-pencil" *ngIf="usuario == item.value.dono"></a>
				</div>
			</div>
		</div>
	</div>
</div>
